@model SWTOR.Parser.Domain.CombatLog
@{
    ViewBag.Title = "Combat Report";

    Func<SWTOR.Parser.Domain.ILogMetrics, object> report =
    @<div class="report">
        <div class="display-group">
            <div class="display-label">
                Total Damage:</div>
            <div class="display-value">@item.TotalDamage.ToString("#,0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                Total Healing:</div>
            <div class="display-value">@item.TotalHealing.ToString("#,0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                Total Threat:</div>
            <div class="display-value">@item.TotalThreat.ToString("#,0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                # of Deflects:</div>
            <div class="display-value">@item.CountOfDeflect.ToString("#,0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                # of Parries:</div>
            <div class="display-value">@item.CountOfParry.ToString("#,0")</div>
        </div>
        <div class="abilities-used">
            <h3>
                Abilities Used</h3>
            @foreach (var count in item.AbilityCounts)
            {
                <div class="display-group">
                    <div class="display-label">
                        @count.Name:</div>
                    <div class="display-value">@count.Count.ToString("#,0")</div>
                </div>
            }
        </div>
    </div>;

    Func<SWTOR.Parser.Domain.ICombatMetrics, object> combatReport =
    @<div class="combat-report">
        <div class="display-group">
            <div class="display-label">
                Total Time (sec):</div>
            <div class="display-value">@item.Interval.ToString("#,0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                Average DPS:</div>
            <div class="display-value">@item.AverageDamagePerSecond.ToString("#,0.0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                Average HPS:</div>
            <div class="display-value">@item.AverageHealingPerSecond.ToString("#,0.0")</div>
        </div>
        <div class="display-group">
            <div class="display-label">
                Average TPS:</div>
            <div class="display-value">@item.AverageThreatPerSecond.ToString("#,0.0")</div>
        </div>
        @report(item)
    </div>;

    Func<string, object> showButton =
        @<input type="button" class="@item-show" value="Show Details" onclick="$('.@item').show();$('.@item-show').hide();" />;
    Func<string, object> hideButton =
        @<input type="button" class="@item-hide" value="Hide Details" onclick="$('.@item').hide();$('.@item-show').show();" />;

}
<h2>
    Combat Report</h2>

@showButton("all-combat-details")
<div class="all-combat-details" style="display:none;">
    @hideButton("all-combat-details")
    @report(Model)
</div>
<div id="combat-tabs">
    <ul>
        @foreach (var combat in Model.Combats)
        {
            var combatIndex = Model.Combats.IndexOf(combat) + 1;
            <li><a href="#combat-@combatIndex">Combat @combatIndex</a></li>
        }
    </ul>
    @foreach (var combat in Model.Combats)
    {
        var combatIndex = Model.Combats.IndexOf(combat) + 1;
        <div id="combat-@combatIndex">
            @showButton("combat-details")
            <div class="combat-details" style="display:none;">
                @hideButton("combat-details")
                @combatReport(combat)
            </div>
            <div id="character-tabs-@combatIndex">
                <ul>
                    @foreach (var charKey in combat.Characters.Keys)
                    {
                        var safeKey = charKey.Replace(":", "-").Replace(" ", "");
                        <li><a href="#character-@combatIndex-@safeKey">@charKey</a></li>
                    }
                </ul>
                @foreach (var charKey in combat.Characters.Keys)
                {
                    var safeKey = charKey.Replace(":", "-").Replace(" ", "");
                    var charData = combat.Characters[charKey];
                    <div id="character-@combatIndex-@safeKey">
                        <div id="st-tabs-@combatIndex-@safeKey">
                            <ul>
                                <li><a href="#source-@combatIndex-@safeKey">As Source</a></li>
                                <li><a href="#target-@combatIndex-@safeKey">As Target</a></li>
                            </ul>
                            <div id="source-@combatIndex-@safeKey">@combatReport(charData.AsSource)</div>
                            <div id="target-@combatIndex-@safeKey">@combatReport(charData.AsTarget)</div>
                        </div>
                        <script>
                            $(function () { $("#st-tabs-@combatIndex-@safeKey").tabs(); });
                        </script>
                    </div>
                }
            </div>
            <script>
                $(function () { $("#character-tabs-@combatIndex").tabs(); });
            </script>
        </div>

    }
</div>
<script>
    $(function () { $('#combat-tabs').tabs(); });
</script>
